h1 {
    text-align: center;
    font-family: 'Passion One', cursive;
    color: #ffffff;
  }
  
  .container-fluid{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  body {
    background-color: #323031;
  }
  
  .imgntext {
    margin-top: 2%;
    text-align: center;
  }
  
  .col-xs-10 {
    background-color: rgb(137, 74, 23);
    border: 2px solid;
    border-radius: 25px;
    border-color: rgba(97, 8, 27, 0.808);
  }
  
  .jumbotronContent {
    text-align:center;
    font-family: 'Passion One', cursive;
  }